@charset "UTF-8";
/* CSS Document */

/*nav bar*/

#header-nav {
  background-color: #FD17B6;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #D8D1D1;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

li{
	font-size: 1.3em;

}
/*
.navbar-collapse.in {
	background-color: beige;
}
*/

.navbar-nav {
	background-color: beige;
	margin:0px;
	width: 100%;
}

.main-content{
	background-color: #B1B0B0;
	padding: 2%;
	margin-right:3%;
	margin-left:3%;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -30px;
    margin-left: -30px;
}


/*media queries*/
